<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="signUpForm">
        <label>email: </label>
        <input
          placeholder="email"
          formControlName="email"
          type="email"
          required
        />
        <label>password: </label>
        <input
          placeholder="password"
          formControlName="password"
          type="password"
          required
          minlength="6"
        />
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            (click)="onSubmit(signUpForm)"
          >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
          <button
            class="btn btn-primary m-2"
            (click)="onSwitchMode()"
            type="button"
          >
            Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
